@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: auto;
  scrollbar-color: #c0c0c0 white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative
}

:root{
  --neutral: #fff;
  --default: #1f1f1f;
  --default-inverse: #ccc;
  --secondary: #3b3b3b;
  --secondary-inverse: #c7c7c7;
  --tertiary: #575757;
  --tertiary-inverse: #bebebe;

  --primary-500: #5b0888;
  --primary-400: #702797;
  --primary-300: #9865b5;
  --primary-200: #ad84c4;
  --primary-100: #d6c1e1;
  --primary-50: #eae0f0;

  --secondary-500: #713abe;
  --secondary-400: #8353c6;
  --secondary-300: #a684d6;
  --secondary-200: #b89ddf;
  --secondary-100: #dbceef;
  --secondary-50: #ede6f7;

  --tertiary-500: #e5cff7;
  --tertiary-400: #e8d5f8;
  --tertiary-300: #efe1fa;
  --tertiary-200: #f2e7fb;
  --tertiary-100: #f8f3fd;
  --tertiary-50: #fcf9fe;
}